{% load flatblock_tags %}
<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<head lang="en">
	<title>Artists against ACTA</title>
	<link rel="stylesheet" href="/static/css/global.css" />
	<meta name="viewport" content="width=device-width" />
</head>

<body>
<div id="content">
{% block content %}
{% endblock %}
</div>

<div id="footer"> 
	<div class="wrapper"> 
	<div class="left"> 
	<h2>ACTA, get informed and take action</h2>

	<p>ACTA is one more offensive against the sharing of culture on the Internet. ACTA (Anti-Counterfeiting Trade Agreement) is an agreement secretly negotiated by a small "club" of like-minded countries (39 countries, including the 27 of the European Union, the United States, Japan, etc). Negotiated instead of being democratically debated, ACTA bypasses parliaments and international organizations to dictate a repressive logic dictated by the entertainment industries.</p>

	<p>ACTA, a blueprint for laws such as SOPA and PIPA, would impose new criminal sanctions forcing Internet actors to monitor and censor online communications. It is thus a major threat to freedom of expression online and creates legal uncertainty for Internet companies. In the name of trademarks and patents, it would also hamper access to generic medicines in poor countries.</p>

	<p>The European Parliament now has an ultimate opportunity to reject ACTA.</p>
	</div> 
 
	<div class="right"> 

		<h2>"ACTA - Not In My Name" is a campaign initiated by…</h2>
			<ul>
			<li><a href="#">Association</a></li>
			<li><a href="#">Association</a></li>
			<li><a href="#">Association</a></li>
			<li><a href="#">Association</a></li>
			<li><a href="#">Association</a></li>
			<li><a href="#">Association</a></li>
			<li><a href="#">Association</a></li>
		</ul>
	</div> <!-- right -->
	<div style="clear: both;"> </div> 
	</div> <!-- wrapper -->
</div> <!-- footer -->
</body> 
</html>
