
{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<h1>ACTA - Not In My Name</h1>

<h2>When industry lobbies claim to advocate in favour of ACTA on behalf of artists, some of them stand up to make their voice heard.</h2>

<h2>ACTA: Not in Our Name</h2>

<p>
ACTA (Anti-Counterfeiting Trade Agreement) is a  treaty negotiated in
secret by a few countries, circumventing  democratic arenas and
international organizations. It aims at setting the ground for new
measures to prevent Internet users from sharing files with one
another. Critics judge that these measures endanger the freedom of
Internet communication and put pressure on private companies to
monitor, censor and sanction, which should be done by the police and
judges. As was too often the case, some industry or institutional
interest groups supporting these measures will pretend that they speak
in the name of authors, artists and other creative players. We simply
tell them: Not in Our Name. The public is not our enemy. We need an
equitable remuneration of all contributors to creative activities and
a good environment for the production of new works, but not at the
expense of endangering the free Internet, a precious good for us, as
for all other
</p>

<ul id="artists">
{% for a in object_list %}
<li><a href="{{ a.url }}"><img src="/static/{{ a.pic }}" alt="{{ a.first_name }} {{ a.last_name }}" width="174px" height="174px"><q>{{ a.quote }}</q></a></li>
{% endfor %}
</ul>
</div>
{% endblock %}
